
h1{
    color:dimgray;
    font-size:50px;
    text-align: center;
    margin-top:200px;
    font-family:"Trebuchet MS"
}

h2{
    color:dimgrey;
    padding:16px;
}

#container {
    width: 1040px;
    margin: 0px auto;
    min-height: 750px;
    text-align: left;
}

input[type='text'] {
    height: 2.2em;
    font-size: 2em;
    width: 80%;
    padding: 5px;
}

#username{
    font-size:30px;
    color:black;
    border-radius:20px;
    margin:auto;
}

#Registration{
    text-align:center;
    margin:100px auto;
}

#buttons{
    margin:20px auto;
    padding:30px;
    text-align:center;
}

button{
    background-color: #4CAF50;
    color:ghostwhite;
    padding:10px;
}

#regsuccess{
    background-color: lightgray;
    font-family: "Trebuchet MS";
    font-size:40px;
    text-align:center;
    margin-top:200px;
}

#profile{
    font-family: "Trebuchet MS";
    font-size: 15px;
}

